<!DOCTYPE html>
<html id="ng-app" data-ng-app="univFunding">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Ontario University Provincial Funding</title>
    <meta name="viewport" content="width=device-width">
    <meta name="" content-type="application/json">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css'>
    <link rel='stylesheet' href='./style.css'>
  </head>
  
  <body ng-app="univFunding">

  <div class="container content" ng-controller="FundController">
    <h1 class="text-center">{{title}}</h1>
    <h5 class="text-center">{{description}}</h5><br />
    <img class="graphImg" src="./graph.png" usemap="#graphmap"/>
    <map name="graphMap">
		<area id="mpToronto" alt="University of Toronto" title="University of Toronto"  shape="poly" coords="363,1,364,120,393,126,415,133,439,150,460,169,473,194,481,214,598,186,582,140,546,86,499,44,446,15,406,5" style="outline:none;">
		<area id="mpOttawa" alt="University of Ottawa" title="University of Ottawa" href=" " shape="poly" coords="598,187,479,214,484,239,483,266,477,288,589,332,599,298,606,249,602,210" style="outline:none;" >
		<area id="mpYork" alt="York University" title="York University"  shape="poly" coords="587,332,476,288,461,317,441,337,516,429,543,408,566,376,580,350" style="outline:none;" >
		<area id="mpWestern" alt="University of Western" title="University of Western"  shape="poly" coords="515,430,440,337,422,351,403,359,386,363,407,481,440,473,486,454" style="outline:none;" >
		<area id="mpMaster" alt="McMaster University" title="McMaster University"  shape="poly" coords="406,482,383,363,359,365,341,364,327,361,292,474,316,483,349,487,378,485" style="outline:none;" >
		<area id="mpGuelph" alt="University of Guelph" title="University of Guelph"  shape="poly" coords="291,476,326,359,301,350,278,333,198,421,231,448,262,465" style="outline:none;" >
		<area id="mpWaterloo" alt="University of Waterloo" title="University of Waterloo"  shape="poly" coords="198,421,278,333,261,313,251,294,141,341,158,376,175,397" style="outline:none;" >
		<area id="mpRyerson" alt="Ryerson University" title="Ryerson University"  shape="poly" coords="140,340,249,294,240,251,120,255,125,298" style="outline:none;" >
		<area id="mpQueens" alt="Queen's University" title="Queen's University"  shape="poly" coords="120,254,241,249,245,212,131,174,122,211" style="outline:none;" >
		<area id="mpCarleton" alt="Carleton University" title="Carleton University"  shape="poly" coords="130,172,245,208,256,180,157,117" style="outline:none;" >
		<area id="mpLaurier" alt="Wilfrid Laurier" title="Wilfrid Laurier"  shape="poly" coords="156,117,257,179,271,159,183,80" style="outline:none;" >
		<area id="mwindsor" alt="University of Windsor" title="University of Windsor"  shape="poly" coords="185,78,273,160,288,147,214,53" style="outline:none;" >
		<area id="mpBrock" alt="Brock University" title="Brock University"  shape="poly" coords="214,51,287,144,300,137,242,34" style="outline:none;" >
		<area id="mpLaurentian" alt="Laurentian University" title="Laurentian University"  shape="poly" coords="241,34,302,137,313,130,267,22" style="outline:none;" >
		<area id="mpOntario" alt="University of Ontario" title="University of Ontario"  shape="poly" coords="270,19,315,130,327,125,295,12" style="outline:none;" >
		<area id="mpLakehead" alt="Lakehead University" title="Lakehead University"  shape="poly" coords="294,11,327,126,339,122,316,5" style="outline:none;" >
		<area id="mpTrent" alt="Trent University" title="Trent University"  shape="poly" coords="316,5,339,122,348,120,335,5" style="outline:none;" >
		<area id="mpNipissing" alt="Nipissing University" title="Nipissing University"  shape="poly" coords="335,3,350,122,354,120,349,2" style="outline:none;" >
		<area id="mpOcad" alt="OCAD University" title="OCAD University"  shape="poly" coords="348,2,355,121,359,120,357,3" style="outline:none;" >
		<area id="mpAlgoma" alt="Algoma University" title="Algoma University"  shape="poly" coords="357,2,360,121,363,120,364,3" style="outline:none;" >
	</map>
    <div class="imgHover">
    	<h4 id="hoverTitle">Hover for more details</h4>
    	<p id="hoverText1"></p>
    	<p id="hoverText2"></p>
    	<p id="hoverText3"></p>
    </div>
    <div class="row">
		<div class="col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 headBtm">
			<div class="row">
			<div class="col-md-3 col-sm-1 col-xs-0"></div>
			<div class="col-md-6 col-sm-10 col-xs-12 bGrpHead">
				<div class="btn btn-default" ng-click="methodology();">Methodology</div>
				<div class="btn btn-default" ng-click="problems();">Problems</div>
				<div class="btn btn-default" ng-click="results();">Results</div>				
			</div>
			<div class="col-md-3 col-sm-1 col-xs-0"></div>
			</div>
			<h3>{{explanationTitle}}</h3>
			<p>{{fundingExplanation}}</p>
		</div>
		<div class="col-md-1"></div>
    </div>
	<div class="panel panel-default">
        <div class="panel-heading">
			<div class="input-group">
                <input ng-model="query" type="text" placeholder="Search Universities in Ontario" class="form-control"><span ng-click="clearFilter()" ng-disabled="query.length == 0" class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
              </div>
        </div>

        <div class="panel list-group">
			<div ng-repeat="univ in univ | filter: query" class="list-group-item animate-repeat" ng-model="collapsed" ng-click="collapsed=!collapsed"><span class="badge">{{univ.location}}</span><h4>{{univ.title}}</h4><br>
	        <div ng-show="collapsed">
	        	<a name="{{univ.fedFunUrl}}"></a>
		        <p>Provincial Funding: ${{univ.provTotal}}</p>
		        <p>Federal Funding: ${{univ.fedTotal}}</p>
				<p><a href="../university_funding/index.html#{{univ.fedFundUrl}}">Federal Funding Summary</a></p>
				<div class="table-responsive"> 
					<table class="table table-bordered table-striped">
						<thead> 
							<tr>
								<th class="col-md-6">Ontario Ministry</th>
								<th class="col-md-4">Reason</th>
								<th class="col-md-2">Funding 2014-2015</th>
							</tr>
						</thead> 
						<tbody> 
							<tr ng-repeat="funding in univ.funding">
								<td>{{funding.ministry}}</td>
								<td>{{funding.reason}}</td>
								<td>${{funding.amt}}</td>
							</tr>
						</tbody> 
					</table> 
					<p class="text-right"><a href="./prov_fund_univ_list.html#{{univ.fedFundUrl}}">Permalink</a></p>	
				</div>
          </div> 
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-footer">
            <span class="text-muted">{{totalUniv}} universities funded by the Ontario government</span>
			<button id="bJson" class="btn btn-default" type="button" onclick="window.location.href ='./funding.json'">View JSON</button>
			<button id="bJson" class="btn btn-default" type="button" onclick="window.location.href ='./prov_fund_univ_list.html'">Full HTML</button>
        </div>
    </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.min.js"></script>
  <script src="./script.js"></script>
  <script src="./mapScript.js"></script>
  </body>
</html>