h1{
	text-align:center;
}

.content{
	background-color:#F7FBFF;
	border-left: 1px solid #C7C7C7;
    border-right: 1px solid #C7C7C7;
}
@media screen and (min-width: 760px) {
	#graphImg{
		width:690px;
		height:489px;
	}
}
@media only screen and (max-width: 480px) {
	#graphImg{
		width:280px;
		height:177px;
	}
	#headBoxSub{
		display: none;
	}
	#headBoxRt{
		display: none;
	}
}

.headBoxLt{
	margin-bottom:20px;
	border-radius:5px;
	border:1px solid lightgray;
	background-color:white;
}
.headBoxSub{
	width:200px;
	padding:5px;
	z-index:10;
	position:absolute;
	bottom:10px;	
}
.headBoxSubRt{
	width:200px;
	position:absolute;
	z-index:10;
	padding:5px;
	bottom:10px;
	right:5px;
	text-align:center;
}
.headBtm{
	background-color:white;
	margin-bottom:20px;
	border-radius:5px;
	border:1px solid lightgray;
	float:left;
}
.table-of-contents{
	float:right;
}

.schoolHead{
	background-color:white;
	border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:10px;
}

.schoolHeadLt{
	top:-7px;
}
.schoolHeadRt{
	top:10px;
}

#listText{
	font-size:15px;
}
.tableOfContents{
	list-style-type:square;
	font-size:20px;
}
#lBrock{
	color:#c5000b;
}
#lLake{
	color:#b34c38;
}
#lGuelph{
	color:#314004;
}
#lMaster{
	color:#00dcff;
}
#lOCAD{
	color:#aea79f;
}
#lOttawa{
	color:#aecf00;
}
#lQueens{
	color:#0084d1;
}
#lRyerson{
	color:#00ae00;
}
#lUofT{
	color:#6b0094;
}
#lTrent{
	color:#e8e4f3;
}
#lOntario{
	color:#7e0021;
}
#lWaterloo{
	color:#004586;
}
#lWestern{
	color:#ff3366;
}
#lLaurier{
	color:#5787b4;
}
#lWindsor{
	color:#3deb3d;
}
#lYork{
	color:#ccffff;
}
