.list-group {
	overflow-y: scroll;
	min-height: 250px;
	max-height: 500px;
}

#bJson {
	float:right;
}
.content{
	background-color:#F7FBFF;
	border-left: 1px solid #C7C7C7;
    border-right: 1px solid #C7C7C7;
    border-top:1px solid #C7C7C7;
}
.table-of-contents{
	margin-left:80px;
}

.headBtm{
	background-color:white;
	margin-bottom:20px;
	border-radius:5px;
	border:1px solid lightgray;
	float:left;
	margin-bottom:10px;
	display:none;
}

.bGrpHead{
	margin-top:20px;
	margin-bottom:10px;
	text-align:center;
}

.schoolHead{
	background-color:white;
	border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:10px;
}

.schoolHeadLt{
	top:-7px;
}
.schoolHeadRt{
	top:10px;
}

.graphImg{
	margin-left:17%;
	width:725px;
	height:487px;
}
.imgHover {
    z-index: 10;
    position: absolute;
    top: 310px;
    left: 43.5%;
    text-align: center;
    width: 220px;
}
@media only screen and (max-width: 960px) {
	.graphImg{
		margin-left:17%;
		width:580px;
		height:377px;
	}
	.imgHover {
		visibility:hidden;
	}
}
@media only screen and (max-width: 768px) {
	.graphImg{
		margin-left:10%;
		width:480px;
		height:320px;
	}
	.imgHover {
		visibility:hidden;
	}
}
@media only screen and (max-width: 500px) {
	.graphImg{
		margin-left:15%;
		width:280px;
		height:177px;
	}
	.imgHover {
		visibility:hidden;
	}
}
@media only screen and (max-width: 360px) {
	.graphImg{
		margin-left:5%;
		width:280px;
		height:177px;
	}
	.imgHover {
		visibility:hidden;
	}
}

.pFootText{
	float:left;
}
.bFootGrp{
	float:right;
}
.pFoot {
    height: 50px;
}
